<h1>TBG Park(ing) Day Websites</h1>
<a href="/admin/new">Create A New Site</a>
<ul class="sites">
	<% @sites.each do |site| %>
		<li>
			<%= site.name %>
			<div class="actions">
				<a href="/<%= site.slug %>">View</a>
				<a href="/admin/<%= site.id %>">Edit</a>
				<a href="/admin/<%= site.id %>/sticker">Sticker</a>
				<%= delete_button("/admin/#{site.id}") %>
			</div>
		</li>
	<% end %>
</ul>

